.education-text-ruler {
    border: 1px solid rgba(1,128,171,0.4);
    position: relative;
    border-radius: 20px;
    animation: pop-up .5s ease-in;

    &-icon {
        position: absolute;
        height: 30px;
        width: 30px;
        background: white;
        border-radius: 50%;
        padding: 25px;
        border: 1px solid #007ea7;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);

        i {
            font-size: 22px;
            color: #007ea7;
            position: absolute;
            top:50%;
            left: 51%;
            transform: translate(-50%, -50%);
        }
    }
}
.education-text-container:hover .education-text-ruler, .education-text-container:hover .education-text-ruler .education-text-ruler-icon {
    background: #007ea7;
    transition: all .4s ease-in-out;
    
}
.education-text-container:hover .education-text-ruler .education-text-ruler-icon i {
    color: white;
    transition: all .4s ease-in-out;
}

