<h1 class="page-title">EDUCATION</h1>
<h5 class="f-h5">Though, I’m from Business Management background, I always had a passion for
    coding and designing. My interest in web development started back in 2017 when i
    decided to try building a website for my travel blog. I’ve been building websites
    with a focus on <span class="highlighter">responsive design, accessibility and pleasing aesthetics</span> ever since.</h5>

<div class="education-main-container">
    <div class="row">
        <div class="col-12 mt-5">
            <div class="education-text-container" align="center">
                <div class="education-text-ruler">
                    <span class="education-text-ruler-icon"><i class="fa fa-graduation-cap"></i></span>
                </div>
                <div class="education-text mt-5">
                    <h5 class="f-h5"><strong>Bachelor’s in Management</strong></h5>
                    <h5 class="f-h5">Bangalore University</h5>
                    <h5 class="f-h5"><span class="highlighter">2012 - 2015</span></h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-5">
            <div class="education-text-container mb-5" align="center">
                <div class="education-text-ruler">
                    <span class="education-text-ruler-icon"><i class="fa fa-laptop" style="left:50%; font-size: 24px;"></i></span>
                </div>
                <div class="education-text mt-5">
                    <h5 class="f-h5"><strong>HTML, CSS & Javascript for Web Developers</strong></h5>
                    <h5 class="f-h5">Johns Hopkins University</h5>
                    <h5 class="f-h5"><a class="text-decoration-none" target="_blank" href="https://www.coursera.org/account/accomplishments/verify/NJJ7U8FGC8YV"><span class="highlighter">VIEW CERTIFICATE</span></a></h5>
                </div>
                <hr width="50%" style="background: rgb(1,128,171);">
                <div class="education-text mt-3">
                    <h5 class="f-h5"><strong>Full Stack Web Development with Angular Specialization</strong></h5>
                    <h5 class="f-h5">The Hong Kong University of Science and Technology</h5>
                    <h5 class="f-h5"><a class="text-decoration-none" target="_blank" href="https://www.coursera.org/account/accomplishments/specialization/certificate/8NU493NRHRJD"><span class="highlighter">VIEW CERTIFICATE</span></a></h5>
                </div>
                <hr width="50%" style="background: rgb(1,128,171);">
                <div class="education-text mt-3">
                    <h5 class="f-h5"><strong>MS SharePoint Fundamentals</strong></h5>
                    <h5 class="f-h5">Microsoft Bootcamp at Office</h5>
                </div>
            </div>
        </div>
    </div>
</div>