<h1 class="page-title">ABOUT ME</h1>
<h5 class="f-h5">I'm a web developer with a passion for front end development and design. I'm currently working at <span class="highlighter">Danske IT</span>, Bangalore. 
    I aspire towards a career that will allow me to channel my creativity through crafting <span class="highlighter">beautiful software</span> and <span class="highlighter">engaging experiences</span>.</h5>
<h5 class="f-h5 mt-4">When i'm not on the computer, I enjoy hiking, playing guitar and petting dogs.</h5>

<div class="hex-main-container mt-5"> 
<div class="row no-gutter" id="hex-row">
    <div class="col-12 col-md-3 mb-0">
        <div class="hex-container" align="center">
        <div class="hex"><i class="fa fa-code hex-icon"></i></div>
        <h6 class="f-h6 mt-3">Web Developer</h6>
        </div>
    </div>
    <div class="col-12 col-md-3 mb-0">
        <div class="hex-container" align="center">
            <div class="hex"><i class="fa fa-pencil hex-icon"></i></div>
            <h6 class="f-h6 mt-3">UI Enthusiast</h6>
        </div>
    </div>
    <div class="col-12 col-md-3 mb-0">
        <div class="hex-container" align="center">
            <div class="hex"><i class="fa fa-flag hex-icon"></i></div>
            <h6 class="f-h6 mt-3">Hiker</h6>
        </div>
    </div>
    <div class="col-12 col-md-3 mb-0">
        <div class="hex-container" align="center">
            <div class="hex"><i class="fa fa-music hex-icon"></i></div>
             <h6 class="f-h6 mt-3">Guitarist</h6>
        </div>
    </div>
</div>
</div>