<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
    <!-- Navbar image -->
    <a class="navbar-brand" routerLink="/home"><img class="img-fluid" id="nav-brand-image" src="../assets/images/picture.jpg" alt="picture"></a>
    <h5 class="text-light text-center f-h5">DEVANATHA</h5>
    <div align="center">
      <ngtypewriter class="text-light text-center f-h5 typewriter-text" [StringList]='list' [speed]='1000'></ngtypewriter>
    </div>
    
    <!-- Navbar Toggler -->
    <div class="navbar-toggler-container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>
      <!-- Navbar Contact -->
      <div class="navbar-toggler-contact-container">
        <a href="#"><i class="fa fa-codepen me-4 navbar-icons" style="font-size: 19px"></i></a>
        <a href="#"><i class="fa fa-linkedin me-4 navbar-icons" style="font-size: 21px"></i></a>
        <a href="#"><i class="fa fa-github me-4 navbar-icons" style="font-size: 21px"></i></a>
        <a href="#"><i class="fa fa-instagram me-4 navbar-icons" style="font-size: 21px"></i></a>
        <a href="#"><i class="fa fa-envelope me-4 navbar-icons" style="font-size: 20px"></i></a>
      </div>
    </div>
    
    <!-- Navbar Routes -->
    <div class="collapse navbar-collapse d-lg-block" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link fw-300 body-text" aria-current="page" routerLinkActive="active" routerLink="/about">ABOUT</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link fw-300 body-text" aria-current="page" routerLinkActive="active" routerLink="/experience">EXPERIENCE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-300 body-text" aria-current="page" routerLinkActive="active" routerLink="/work">WORK</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-300 body-text" aria-current="page" routerLinkActive="active" routerLink="/skills">SKILLS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-300 body-text" aria-current="page" routerLinkActive="active" routerLink="/education">EDUCATION</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-300 body-text" aria-current="page" routerLinkActive="active" routerLink="/contact">CONTACT</a>
        </li>
      </ul>
    </div>

    <!-- Navbar Contact -->
    <div class="navbar-contact-container" align="center">
      <a class="navbar-contact-container-item" href="#"><i class="fa fa-codepen me-3 navbar-contact-container-item-icon" style="font-size: 19px"></i></a>
      <a class="navbar-contact-container-item" href="#"><i class="fa fa-linkedin me-3 navbar-contact-container-item-icon" style="font-size: 21px" ></i></a>
      <a class="navbar-contact-container-item" href="#"><i class="fa fa-github me-3 navbar-contact-container-item-icon" style="font-size: 21px"></i></a>
      <a class="navbar-contact-container-item" href="#"><i class="fa fa-instagram me-3 navbar-contact-container-item-icon" style="font-size: 21px"></i></a>
      <a class="navbar-contact-container-item" href="#"><i class="fa fa-envelope me-3 navbar-contact-container-item-icon" style="font-size: 20px"></i></a>
    </div>
</nav>