<h1 class="page-title">EXPERIENCE</h1>
<div class="experience-container mt-5">
    <div class="experience mb-5">
        <div class="experience-i">
            <div class="experience-i-item">
                <i class="fa fa-suitcase"></i>
            </div>
        </div>
        <div class="experience-text px-4 py-3">
            <h5 class="f-h5 float-start"><strong>Front-End Software Engineer</strong></h5>
            <h5 class="f-h5 float-end"><span class="highlighter">2018 - Present</span></h5>
            <div class="clearfix"></div>
            <h5 class="f-h5">Danske IT, Bangalore</h5>
            <ul>
                <li>Microsoft SharePoint Website <span class="highlighter">Branding</span> and <span class="highlighter">Enhancements</span></li>
                <li>Translate business requirements into techinical solutions, create documentation and training manuals and educate clients on  how to effectively utilize <span class="highlighter">SharePoint services and products</span>.</li>
                <li>Developed 40+ SharePoint websites with <span class="highlighter">intutive and responsive design</span> primarily using HTML, CSS, Sass, Javascript, and jQuery</li>
                <li>Write modern, performant, maintainable code for a diverse array of <span class="highlighter">client and internal project</span></li>
                <li>Built a couple of web solutions using <span class="highlighter">Angular JS and Angular 7</span></li>
            </ul>
        </div>
    </div>

    <div class="experience mb-4">
        <div class="experience-i">
            <div class="experience-i-item">
                <i class="fa fa-suitcase"></i>
            </div>
        </div>
        <div class="experience-text px-4 py-3">
            <h5 class="f-h5 float-start"><strong>Associate IT Consultant - PMO</strong></h5>
            <h5 class="f-h5 float-end"><span class="highlighter">2015 - 2018</span></h5>
            <div class="clearfix"></div>
            <h5 class="f-h5">ITC Infotech Pvt Ltd, Bangalore</h5>
            <ul>
                <li><span class="highlighter">Resource Management</span> - Employees on and off boarding, IIJP movement, travel, and etc.</li>
                <li>Created and maintained reports such as <span class="highlighter">department budget utilization and KPI reports</span></li>
                <li>Involved in <span class="highlighter">invoice processing</span> of Denmark external consultants</li>
                <li>Helped set up <span class="highlighter">signup and survey </span>for various events across all  location in the bank with the help of a third party too called “Aventri</li>
            </ul>
        </div>
    </div>

    <div class="empty-circle">
    </div>
</div>