<h1 class="page-title">CONTACT</h1>
<h5 class="f-h5">I am available for hire and open to any ideas of cooperation.</h5>
<h5 class="f-h5">Write to me at: <a class="text-decoration-none f-h5" href="mailto:dev92r@gmail.com"> <span class="highlighter">dev92r@gmail.com</span></a></h5>
<h5 class="f-h5"><strong>Feeling social? Find me on these online spaces too!</strong></h5>
<div class="contact pt-2">
    <div class="contact-inner">
        <a href="https://www.facebook.com/profile.php?id=1652923503" target="_blank"><i class="contact-inner-icon fa fa-facebook"></i></a>
    </div>
    <div class="contact-inner mx-2">
        <a href="https://www.instagram.com/i_m_devd/" target="_blank"><i class="contact-inner-icon fa fa-instagram"></i></a>
    </div>
    <div class="contact-inner">
        <a href="https://www.linkedin.com/in/devanatha-r-b2b530182" target="_blank"><i class="contact-inner-icon fa fa-linkedin"></i></a>
    </div>
    <div class="contact-inner mx-2">
        <a href="https://github.com/dev92r/" target="_blank"><i class="contact-inner-icon fa fa-github"></i></a>
    </div>
    <div class="contact-inner">
        <a href="https://codepen.io/dev92r" target="_blank"><i class="contact-inner-icon fa fa-codepen"></i></a>
    </div>
</div>