<h1 class="page-title">WORK</h1>

<a class="work-container mt-5 text-decoration-none" href="https://stoic-wright-356d3b.netlify.app" target="_blank">
    <div class="row">
        <div class="col-12">
            <div class="work px-4 py-3">
                <h5 class="f-h5"><strong>Coaching Platform</strong></h5>
                <p class="body-text">Its a simple project which I designed and built as part of my "Full Stack Developer" course. </p>
                <div class="work-technology float-end mb-1">
                    <span>HTML, CSS, SASS, ANGULAR 7, REST API</span>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</a>

<a class="work-container mt-5 text-decoration-none" href="#">
    <div class="row">
        <div class="col-12">
            <div class="work px-4 py-3">
                <h5 class="f-h5"><strong>Online Resume</strong></h5>
                <p class="body-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae
                    sapien porttitor, dignissim quam sit ame. Proin vitae tortor nec risus
                    tristique efficitur. Aliquam luctus est urna, id aliquam orci tempus sed.</p>
                <div class="work-technology float-end mb-1">
                    <span>HTML, CSS, SASS, BOOTSTRAP, ANGULAR 7</span>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</a>