<h1 class="page-title">WORK</h1>

<div class="work-container mt-5 text-decoration-none">
    <div class="row">
        <div class="col-12">
            <div class="work px-4 py-3">
                <h5 class="f-h5 float-start"><strong>Coaching Platform</strong></h5>
                <div class="code-links float-end mt-2">
                    <a href="https://github.com/dev92r/coachingPlatform-Angular" target="_blank"><i class="fa fa-github"></i></a>
                    <a href="https://nifty-davinci-6447b3.netlify.app" target="_blank"><i class="fa fa-external-link-square"></i></a>
                </div>
                <div class="clearfix"></div>
                <p class="body-text">Its a simple project which I designed and built as part of my "Full Stack Developer" course. The concept of this website is to help employees in the organisation, who can seek
                 coaching from professional coaches to achieve thier personal/professional goals in life.
                </p>
                <div class="work-technology float-end mb-1">
                    <span>HTML, CSS, SASS, ANGULAR 7, REST API</span>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div class="work-container mt-5 text-decoration-none">
    <div class="row">
        <div class="col-12">
            <div class="work px-4 py-3">
                <h5 class="f-h5 float-start"><strong>Personal Website V1</strong></h5>
                <div class="code-links float-end mt-2">
                    <a href="https://github.com/dev92r/V1" target="_blank"><i class="fa fa-github"></i></a>
                    <a href="https://dev92r.github.io/V1/" target="_blank"><i class="fa fa-external-link-square"></i></a>
                </div>
                <div class="clearfix"></div>
                <p class="body-text">This is my first portfolio website, more like an online resume, built with Angular and hosted on GitHub Pages. </p>
                <div class="work-technology float-end mb-1">
                    <span>HTML, CSS, SASS, BOOTSTRAP, ANGULAR 7</span>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
