.work-container {
    display: block;
    z-index: 25;
    position: relative;
}
.work {
    background: white;
    box-shadow: 0px 2px 10px 0px rgb(0 0 0 / 15%);

    &-technology {
        color:#00aaee;
    }
}


.work::before {
    Content: "";
    width: 45px; 
    height: 45px; 
    background: #007ea7;
    position: absolute;
    top:-4px;
    left:-4px;
    z-index: -1;
    transition: all .3s ease-in-out;
    animation: frame .5s ease-in;
}

.work::after {
    Content: "";
    width: 45px; 
    height: 45px; 
    background: #007ea7;
    position: absolute;
    bottom:-4px;
    right:-4px;
    z-index: -1;
    transition: all .3s ease-in-out;
    animation: frame .5s ease-in;
}

.work-technology span {
    line-height: 1.6;
}

.work-container:hover .work::before, .work-container:hover .work::after {
    width: 52px; 
    height: 53px;
    transition: all .2s ease-in-out;
}
