<h1 class="page-title">SKILLS</h1>
<h5 class="f-h5">I've been doing web development for about 4 years now, and I'm always eager to
    learn more in this fast paced industry.</h5>

<div class="skills-main-container" align="center">
    <h5 class="f-h5"><strong>SOME TECHNOLOGIES, I’VE WORKED WITH</strong></h5>
    
    <!-- Skills row 1 -->
    <div class="row">
        <div class="col-6 col-6 col-sm-4 col-md-2 mb-5">
            <div class="skills-icons">
                <img class="skills-icons-item" src="./assets/images/skills/html.png"/>
            </div>
        </div>

        <div class="col-6 col-6 col-sm-4 col-md-2 mb-5">
            <div class="skills-icons">
                <img class="skills-icons-item" src="./assets/images/skills/css.png"/>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-2 mb-5">
            <div class="skills-icons">
                <img class="skills-icons-item" src="./assets/images/skills/sass.png" style="height: 60px;"/>
            </div> 
        </div>

        <div class="col-6 col-sm-4 col-md-2 mb-5">
            <div class="skills-icons">
                <img class="skills-icons-item" src="./assets/images/skills/js.png" style="height: 75px;"/>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-2 mb-5">
            <div class="skills-icons">
                <img class="skills-icons-item" src="./assets/images/skills/jquery.png" style="height: 60px;"/>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-2 mb-5">
            <div class="skills-icons">
                <img class="skills-icons-item" src="./assets/images/skills/bootstrap.png" style="height: 75px;"/>
            </div>
        </div>
    </div>

    <!-- Skills row 2 -->
    
    <div class="row">
        <div class="col-6 col-sm-4 col-md-2 mb-5">
            <div class="skills-icons">
                <img class="skills-icons-item" src="./assets/images/skills/angular.png"/>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-2 mb-5">
            <div class="skills-icons">
                <img class="skills-icons-item" src="./assets/images/skills/node.png" style="height: 90px;"/>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-2 mb-5">
            <div class="skills-icons">
                <img class="skills-icons-item" src="./assets/images/skills/sharepoint.png" style="height: 55px;"/>
            </div> 
        </div>

        <div class="col-6 col-sm-4 col-md-2 mb-5">
            <div class="skills-icons">
                <img class="skills-icons-item" src="./assets/images/skills/typescript.png" style="height: 55px;"/>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-2 mb-5">
            <div class="skills-icons">
                <img class="skills-icons-item" src="./assets/images/skills/npm.png" style="height: 25px;"/>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-2 mb-5">
            <div class="skills-icons">
                <img class="skills-icons-item" src="./assets/images/skills/postman.png" style="height: 65px;"/>
            </div>
        </div>
    </div>

    <!-- Skills row 3 -->
    <div class="row">
        <div class="col-6 col-sm-4 col-md-2 mb-5">
            <div class="skills-icons">
                <img class="skills-icons-item" src="./assets/images/skills/netlify.png"/>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-2 mb-5">
            <div class="skills-icons">
                <img class="skills-icons-item" src="./assets/images/skills/github.png" style="height: 57px;"/>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-2 mb-5">
            <div class="skills-icons">
                <img class="skills-icons-item" src="./assets/images/skills/adobexd.png" style="height: 55px;"/>
            </div> 
        </div>

        <div class="col-6 col-sm-4 col-md-2 mb-5">
            <div class="skills-icons">
                <img class="skills-icons-item" src="./assets/images/skills/adobedw.png" style="height: 55px;"/>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-2 mb-5">
            <div class="skills-icons">
                <img class="skills-icons-item" src="./assets/images/skills/photoshop.png" style="height: 55px;"/>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-2 mb-5">
            <div class="skills-icons">
                <img class="skills-icons-item" src="./assets/images/skills/mongodb.png" style="height: 75px;"/>
            </div>
        </div>
    </div>

</div>

<div class="my-5 d-md-none" align="center"><a routerLink="/work" class="home-btn f-h5 text-decoration-none">Projects</a></div>