.skills-main-container {
    max-width: 750px;
    margin: auto;
    margin-top: 50px;
}

.skills-icons {
    position: relative;
    margin-top: 70px;
    animation: pop-up .5s ease-in;
    animation-delay: .5s;

    &-item {
        height: 70px;
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
        filter: grayscale(100%);
        transition: filter .3s ease-in-out;
        
    }
    &-item:hover {
        filter: grayscale(0%);
    }
}
