<div class="container-fluid" id="main-container">
  <!-- Background -->
  <div class="background"></div>
  <!-- Left Vertical Contact  -->
  <div class="contact-container">
    <a class="contact-container-item" href="https://codepen.io/dev92r" target="_blank"><i class="fa fa-codepen me-3 contact-container-item-icon" style="font-size: 19px"></i></a>
    <a class="contact-container-item" href="https://www.linkedin.com/in/devanatha-r-b2b530182" target="_blank"><i class="fa fa-linkedin me-3 contact-container-item-icon" style="font-size: 20px" ></i></a>
    <a class="contact-container-item" href="https://github.com/dev92r/" target="_blank"><i class="fa fa-github me-3 contact-container-item-icon"></i></a>
    <a class="contact-container-item" href="https://www.instagram.com/i_m_devd/" target="_blank"><i class="fa fa-instagram me-3 contact-container-item-icon"></i></a>
  </div>
  <!-- Vertical Lines -->
  <div class="corner-line">
    <div class="corner-line-left"></div>
    <div class="corner-line-right"></div>
  </div>
  <!-- Right Vertical Contact  -->
  <div class="contact-container-email">
    <a class="contact-container-email-item" href="mailto:dev92r@gmail.com"><span class="contact-container-email-item-text">dev92r@gmail.com</span></a>
  </div>

    <div class="row">
        <div class="container" id="sub-container">
            <div class="row">
              <!-- Navbar Container -->
              <div class="col-md-12 col-lg-3 col-xl-3 px-0 navbar-container">
                  <app-navbar></app-navbar>
                </div>
                <!-- Content box -->
                <div class="col-md-12 col-lg-9 col-xl-9" id="content-box">
                      <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>